@model buoi6.Models.Home
@{ ViewData["Title"] = "Home Page"; }


<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/girl1.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div>
                <a class="btn btn-primary" asp-controller="Home" asp-action="Search">Tìm kiếm</a>
                <a class="btn btn-primary" asp-controller="Home" asp-action="Search_Advanced">Tìm kiếm nâng cao</a>
            </div>
            <div class="col-sm-12 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    @{
                        int dem = 0;
                        @foreach (var items in Model.listProduct)
                        {
                            if (dem == 6) break;
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="~/img/product/@items.Image" alt="" height="300" width="200" />
                                            <h2> @Html.DisplayFor(modelItem => items.Price) VNĐ</h2>
                                            <p>@Html.DisplayFor(modelItem => items.Name)</p>
                                            <a asp-action="AddinHome" asp-route-id="@items.Id" class="btn btn-default add-to-cart">
                                                <i class="fa fa-shopping-cart"></i>Add to cart
                                            </a>
                                            <a asp-action="Product_Detail" asp-route-id="@items.Id" class="btn btn-default add-to-cart">
                                                <i class="fa fa fa-eye"></i>View Detail
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            dem++;
                        }

                    }


                </div>
                <!--features_items-->

                <div class="category-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            @{ int i = 0;
                                foreach (var Type in Model.listProductType)
                                {
                                    if (i == 0)
                                    {
                                        <li class="active"><a href="#@Type.Id" data-toggle="tab">@Type.Name</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#@Type.Id" data-toggle="tab">@Type.Name</a></li>
                                    }
                                    i++;
                                } }


                        </ul>
                    </div>
                    <div class="tab-content">
                        @{ i = 0;
                            string active = "active in";
                            foreach (var Type in Model.listProductType)
                            {
                                if (i != 0) { active = null; }
                                <div class="tab-pane fade @active" id="@Type.Id">
                                    @foreach (var items in Model.listProduct)
                                    {
                                        if (items.ProductTypeId == Type.Id)
                                        {
                                            <div class="col-sm-3">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="~/img/product/@items.Image" alt="" height="250" width="200" />
                                                            <h2>@Html.DisplayFor(modelItem => items.Price) VNĐ</h2>
                                                            <p>@Html.DisplayFor(modelItem => items.Name)</p>
                                                            <a asp-action="AddinHome" asp-route-id="@items.Id" class="btn btn-default add-to-cart">
                                                                <i class="fa fa-shopping-cart"></i>Add to cart
                                                            </a>
                                                            <a asp-action="Product_Detail" asp-route-id="@items.Id" class="btn btn-default add-to-cart">
                                                                <i class="fa fa fa-eye"></i>View Detail
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }



                                </div>
                                i++;
                            } }






                    </div>
                </div>
                <!--/category-tab-->

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @{
                                    dem = 0;
                                    foreach (var items in Model.listProduct)
                                    {
                                        if (dem == 3) break;

                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="~/img/product/@items.Image" alt="" />
                                                        <h2>@Html.DisplayFor(modelItem => items.Price) VNĐ</h2>
                                                        <p>@Html.DisplayFor(modelItem => items.Name)</p>
                                                        <a asp-action="AddinHome" asp-route-id="@items.Id" class="btn btn-default add-to-cart">
                                                            <i class="fa fa-shopping-cart"></i>Add to cart
                                                        </a>
                                                        <a asp-action="Product_Detail" asp-route-id="@items.Id" class="btn btn-default add-to-cart">
                                                            <i class="fa fa fa-eye"></i>View Detail
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        dem++;
                                    }
                                }


                            </div>
                            <div class="item">
                                @{
                                    dem = 0;

                                    var item = Model.listProduct;
                                    i = 3;
                                    for (i = 3; i < 6; i++)
                                    {
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="~/img/product/@item[i].Image" alt="" />
                                                        <h2>@Html.DisplayFor(modelItem => item[i].Price) VNĐ</h2>
                                                        <p>@Html.DisplayFor(modelItem => item[i].Name)</p>
                                                        <a asp-action="AddinHome" asp-route-id="@item[i].Id" class="btn btn-default add-to-cart">
                                                            <i class="fa fa-shopping-cart"></i>Add to cart
                                                        </a>
                                                        <a asp-action="Product_Detail" asp-route-id="@item[i].Id" class="btn btn-default add-to-cart">
                                                            <i class="fa fa fa-eye"></i>View Detail
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    }
                                }
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel"
                           data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel"
                           data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>
